:root{
  --bg-color: #1b1b3a;
  --content-margin: 10px;
  --content-height: calc(100vh - 2* var(--content-margin));
  --content-width: calc(var(--content-height)/ 2);
  overflow: hidden;
}

html, body{
  height: 100%;
  overflow: hidden;
}

.preload{
  display: none;
}
/* .preloaded-image{} */

.loading-screen{
  width: 100vw;
  height:100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  color: whitesmoke;
  transition-duration: 2s;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.container{
  /* background-image: url('images/comic/p00dark.jpg'); */
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}


.content{
  width: var(--content-width);
  height: var(--content-height);
  background-size: contain;
}

.square{
  height: var(--content-width);
  width: var(--content-width);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  background-size: contain;
}

.square:first-child{
  background-position: center bottom;
}
.square:last-child{
  background-position: center top;
}

.flipper{
  position: absolute;
  width: var(--content-width);
  backface-visibility: hidden;
  z-index: 2;
}

.inner-container{
  font-size: 12vh;
}