:root{
  --bg-color: #0e0e0e;
  --content-margin: 10px;
  --content-height: calc(100vh - 2* var(--content-margin));
  --content-width: calc(var(--content-height)/ 2);
  --app-height: 100vh;
  overflow: hidden;
}

html, body{
  height: 100%;
  overflow: hidden;
}

.preload{
  display: none;
}
/* .preloaded-image{} */

.loading-screen{
  width: 100vw;
  height:var(--app-height);
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  color: whitesmoke;
  transition-duration: 2s;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.container{
  /* background-image: url('images/comic/p00dark.jpg'); */
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--app-height);
  /* background-image: url('images/home/background.jpg'); */
  /* background-size: cover; */
}


.content{
  width: calc(var(--app-height)/2);
  height: var(--app-height);
  background-size: contain;
  z-index: 0;
  /* position: absolute; */
}

.rectangle{
  position: absolute;
  top: 0;
}

.rectangle-bg{
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(var(--app-height));
  width: calc(var(--app-height)/2);
  position: absolute;
  top: 0;
  pointer-events: none;
  /* z-index: 20; */
  z-index: 0;
}

.title-smoke{
  z-index: 20;
}

.title-giant{
  height: calc(var(--app-height) * 0.5);
  position: absolute;
  top:calc(var(--app-height) * 0.55);
  animation: bobbing 20s ease-in-out 5s infinite alternate;
}

@keyframes bobbing {
  from {
    top:calc(var(--app-height) * 0.55);
  }
  to {
    top:calc(var(--app-height) * 0.3);
  }

  
}

.square{
  height: calc(var(--app-height)/2);
  width: calc(var(--app-height)/2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  perspective: 1000px;
  background-size: contain;
  /* position: absolute; */
  z-index: 100;
}

.square:first-child{
  background-position: center bottom;
  /* top: 0; */
}
.square:last-child{
  background-position: center top;
  /* top: calc(var(--app-height)*0.5); */
}

.square > *{
 z-index: 100;
 position: relative;
}

.flipper{
  position: absolute;
  width: calc(var(--app-height)/2);
  backface-visibility: hidden;
  z-index: 998;
}

.inner-container{
  font-size: 12vh;
}

.arrow{
  background-size: contain;
  height:calc( 15*var(--ah));
  width:calc( 15*var(--ah));
  background-repeat: no-repeat;
  position: absolute;
  transition-duration: 0.5s;
}

.arrow:hover{
  height:calc( 17*var(--ah));
  width:calc( 17*var(--ah));
}
.p02-arrow-down{
  background-image: url('images/comic/arrow-down02.png');
  top:calc( 30*var(--ah));
}

.p03-arrow-left{
  background-image: url('images/comic/arrow-left01.png');
  /* position: relative; */
  top:calc( 15*var(--ah));
  right:calc( 25*var(--ah));
}

.p03-arrow-right{
  background-image: url('images/comic/arrow-right01.png');
  /* position: relative; */
  top:calc( 25*var(--ah));
  right:calc( 5*var(--ah));
}

.p04-arrow-up{
  background-image: url('images/comic/arrow-up02.png');
  top:calc( 5*var(--ah));
  right:calc( -5*var(--ah));
}

.p04-arrow-down{
  background-image: url('images/comic/arrow-down02.png');
  top:calc( 25*var(--ah));
  right:calc( 30*var(--ah));
}

.p05-arrow-up{
  background-image: url('images/comic/arrow-up02.png');
  top:calc( 5*var(--ah));
  right:calc( 25*var(--ah));
}

.p05-arrow-down{
  background-image: url('images/comic/arrow-down02.png');
  top:calc( 25*var(--ah));
  right:calc( 0*var(--ah));
}

.panel-button{
  /* background-color: blue; */
  width: calc(var(--app-height)/2);
  height: calc(var(--app-height)/2);
}

.bumbag-button{
  /* background-color: red; */
  width:calc( 5*var(--ah));
  height:calc( 5*var(--ah));
  top:calc(  10*var(--ah));
  right:calc( 15*var(--ah));
  position: absolute;
}

.window{
  background-size: contain;
  height:calc( 7*var(--ah));
  width:calc( 7*var(--ah));
  background-repeat: no-repeat;
  position: absolute;
  transition-duration: 0.5s;
}

.window:hover{
  height:calc( 7.5*var(--ah));
}

.window01{
  background-image: url('images/home/window01.png');
  top:calc( 14*var(--ah));
  right:calc( 28*var(--ah));
}

.window02{
  background-image: url('images/home/window02.png');
  top:calc( -0.8*var(--ah));
  right:calc( 13*var(--ah));
}

.window03{
  background-image: url('images/home/window01.png');
  top:calc( 40.8*var(--ah));
  right:calc( 20.5*var(--ah));
}

.window04{
  background-image: url('images/home/window04.png');
  top:calc( 25.7*var(--ah));
  right:calc( 28*var(--ah));
}

.door{
  background-image: url('images/home/door.png');
  background-size: contain;
  height: calc( 8.5 * var(--ah));
  width: calc(8.5 * var(--ah));
  top:calc(27 * var(--ah));
  right: calc(19.2 * var(--ah));
  background-repeat: no-repeat;
  position: absolute;
  transition-duration: 0.5s;
}

.door:hover{
  height:calc( 9*var(--ah));
}